<div id="headerWrapperSmall"> </div>
<div class="jumbtron" id="bg-text">
    <h1 class="display-4 text-center"> 
        Kategorije    
    </h1>
    <br>
</div>  
<hr/>
<br/>
<div class="col-md-12">
     <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white" id="rounded">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input id="rounded" type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchCategories()"/>
                </div>
            </div>
        </div>
    </div>
<hr>
<br>
<br>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
        </div>
        <br>
        <table *ngIf="genres?.length!==0; else elseTemplate"  class="table table-condensed table-hover col-md-6">
            <thead>
                <tr>
                    <th class="col-md-10">
                        Kategorija
                    </th>
                    <th class="col-md-2">
                        Opcije
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let genre of genres">
                    <td>
                        {{genre['name']}}
                    </td>
                    <td class="action-button-column">
                        <a title="Pogledaj filmove iz ove kategorije" (click)="updateCategory(genre.id)">
                            <i class="fas fa-search"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #elseTemplate>
            <div class="col-md-12">
            <div class="row">
              <div class="col-md-5"></div>
              <h3 class="col-md-2 text-center">Nema kategorija za pregled!</h3>
              </div>
            </div>     
          </ng-template>
        <div class="col-md-2"></div>
    </div>
    <br><hr><br>
</div>