<div id="headerWrapperSmall"></div>
<div class="jumbtron" id="bg-text">
  <h1 class="display-4 text-center"> 
    Kategorija 
  </h1>
  <br>
</div>  
<div class="box" style="margin: 50px; position: relative; top: 5%; bottom: 10%;" >
  <div class="container" style="text-align:center">
    <div class ="row">
      <div class="col-3" *ngFor="let movie of movies | async">
        <div class="card" style="margin:5px;">
          <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
          <div class="card-body">
              <h1 class="card-title">{{movie.title}}</h1>
              <button class="btn btn-outline-dark" id="rounded" (click)="getDetails(this.movie)"><i class="fas fa-info"></i></button>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <br><hr><br>
  <div class="form-group text-center">
    <button class="btn btn-outline-dark" id="rounded" (click)="previousPage()"><i class="fas fa-arrow-left"></i></button>
    <button class="btn btn-outline-dark" id="rounded" (click)="nextPage()"><i class="fas fa-arrow-right"></i></button>
  </div>
  <hr>
  <br>
</div>