<div class="jumbtron">
  <form [formGroup]='categoryForm' (ngSubmit)="categoryForm.valid && onSubmit()" autocomplete="off" class="col-md-5 form">
      <h2 class="text-center text-secondary">Kategorija</h2>
      <hr>

      <app-form-input type="hidden" [formControl]='categoryForm.controls["id"]'></app-form-input>
      <app-form-input [formControl]='categoryForm.controls["name"]' [label]='"Naziv kategorije"'></app-form-input>

      <div class="form-group text-center">
          <button [disabled]='!categoryForm.valid' class="btn btn-success mr-2" type="submit">Spremi</button>
          <button class="btn btn-default" type="button" (click)="cancel()">Odustani</button>
      </div>
  </form>
</div>