<div id="headerWrapperSmall"></div>
<div class="jumbtron" id="bg-text">
    <h1 class="display-4 text-center"> 
        Redatelji   
    </h1>
    <br>
</div>
<hr/>
<br/>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white" id="rounded">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input id="rounded" type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchDirectors()"/>
                </div>
            </div>
         </div>
        <div class="col-md-1">
            <button *ngIf="directors?.length!==0;" type="button" class="btn btn-success btn-sm" (click)="addDirector()" id="rounded">➕</button>
        </div>
    </div>
<hr>
<br>    
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2">
        </div>     
        <table *ngIf="directors?.length!==0; else elseTemplate"  class="table table-condensed table-hover col-md-8">
            <thead>
                <tr>
                    <th class="col-md-4">
                        Ime
                    </th>
                    <th class="col-md-4">
                        Prezime
                    </th>
                    <th class="col-md-2">
                        Opcije
                    </th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let director of directors">
                        <td>
                            {{director.name}}
                        </td>
                        <td>
                            {{director.lastName}}
                        </td>
                        <td class="action-button-column">
                            <a title="Uredi" (click)="updateDirector(director.id)">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a title="Obriši" (click)="deleteDirector(director.id)" style="margin-left: 12px">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
        </table>
        <ng-template #elseTemplate>
            <div class="col-md-12">
            <div class="row">
              <div class="col-md-5"></div>
              <h3 class="col-md-2 text-center">Nema redatelja za pregled!</h3>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <button type="button" class="btn btn-success btn-sm" id="rounded" (click)="addDirector()">➕</button></div>  
            </div>       
          </ng-template>
        <div class="col-md-2"></div>
    </div>
</div>