<div class="jumbtron">
  <form [formGroup]='directorForm' (ngSubmit)="directorForm.valid && onSubmit()" autocomplete="off" class="col-md-5 form">
      <h2 class="text-center text-secondary">Redatelj</h2>
      <hr>

      <app-form-input type="hidden" [formControl]='directorForm.controls["id"]'></app-form-input>
      <app-form-input [formControl]='directorForm.controls["name"]' [label]='"Ime direktora"'></app-form-input>
      <app-form-input [formControl]='directorForm.controls["lastName"]' [label]='"Prezime direktora"'></app-form-input>

      <div class="form-group text-center">
          <button [disabled]='!directorForm.valid' class="btn btn-success mr-2" type="submit">Spremi</button>
          <button class="btn btn-default" type="button" (click)="cancel()">Odustani</button>
      </div>
  </form>
</div>