<div class="modal-header">
  <h4 class="modal-title" id="modal-title"></h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body"> 
  <div class="card" style="width: fit-content;">
    <img class="card-img-top" text-center src="{{movieDetails['Poster']}}" style="height:50%; width:50%; display:block; margin-left:auto; margin-right:auto;">
      <div class="card-body">
        <h1  text-center class="card-title">{{movieDetails['Title']}}</h1>
        <p class="card-text">Godina: {{movieDetails['Year']}}</p>
        <p class="card-text">Osvojene nagrade: {{movieDetails['Awards']}}</p>
        <p class="card-text">Glumci: {{movieDetails['Actors']}}</p>
        <p class="card-text">Produkcija: {{movieDetails['Production']}}</p>
        <p class="card-text">Zemlja: {{movieDetails['Country']}}</p>
        <p class="card-text">Jezik: {{movieDetails['Language']}}</p>
        <p class="card-text">Radnja: {{movieDetails['Plot']}}</p>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-dark" (click)="dismiss()">{{btnCancelText}}</button>
</div>