<div class="form-group">
    <input [class.is-invalid]="ngControl.touched && ngControl.invalid" type={{type}} class="form-control"
        [formControl]="ngControl.control" placeholder={{label}}>
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Molimo unesite {{label}}</div>
    <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">{{label}} mora biti duga najmanje
        {{ngControl.control.errors.minlength['requiredLength']}} znakova</div>
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">{{label}} mora biti duga najviše
        {{ngControl.control.errors.maxlength['requiredLength']}} znakova </div>
    <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">Lozinke se ne poklapaju</div>
</div>
